################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Practicas-Arrays-CSharp/FileContentIndex/a16a645d-b17e-4275-a000-1479be0df743.vsidx
/.vs/Practicas-Arrays-CSharp/v17
/.vs/Practicas-Arrays-CSharp/FileContentIndex/cf3661ee-f489-47ce-bba2-72b949977d3c.vsidx
/.vs/Practicas-Arrays-CSharp/FileContentIndex
/.vs
